
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: url('../general-section/img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1, h2, h3, h4, h5, h6, .text-heading {
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4rem;
}

.tagline-upper {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}

.tagline-lower {
  font-size: 1.2rem;
  line-height: 1;
}

.text-expanded {
  letter-spacing: 2px;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-lg {
  font-size: 1.25rem;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

hr.divider {
  border-color: #292b2c;
  max-width: 300px;
}

.map-container iframe {
  pointer-events: none;
}

.map-container iframe.clicked {
  pointer-events: auto;
}

#myBtn {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    /*background-color: #ff5722;*/
    /*color: white;*/
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50px; /* Rounded corners */
    height: 50px;
    width: 50px;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#profile_image{
  height: 500px;
  width: 500px;
  display: block;
}

#profile_info{
  margin-left: 700px;
}




